*{
	margin: 0; padding: 0; font-family: sans-serif; box-sizing: border-box;
}

header{
	width: 100%;
	height: 100vh;
  position: relative;
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	height: 70px;
}

.logo{
	font-size: 30px;
	font-weight: bold;
	color: #7f8fa6;
}

.menu a{
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: bold;
  padding: 10px 20px;
}

.circle{
	width: 400px;
	height: 400px;
	background: rgba(0, 0, 0, .05);
	border-radius: 50%;
	position: absolute;
	top: 20%;
	right: 10%;
	z-index: -1;
}

.container{
	display:flex;
	justify-content:center;
	align-items: center;
	flex-wrap: wrap;

}

.left{
	flex-basis: 60%;
	max-width: 450px;
}
.left h1{
	font-size: 50px;
}

.left span{
	color: #7f8fa6;
}

.p-header{
	margin-top: 10px;
}

.btn{
	margin-top: 30px;

}
.btn input{
	padding: 10px;
	width: 75%;
	border-radius: 10px;
	border: 1px solid gray;
	outline: none;
}
.btn button{
	padding: 10px;
	color: white;
	background: #7f8fa6;
	border: none;
	outline: none;
	border-radius: 10px;
}

.counter{
	display:flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 30px;
}

#welcome{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 180px;
	z-index: -1;
}

.right{
 flex-basis: 40%;
 text-align: right;

}

.right img{
	width: 70%;
}


#featured{
	padding: 100px 50px;
}

.featured-row{
	display:flex;
	justify-content:center;
	align-items: center;
	flex-wrap: wrap;

}

.featured-left-col{
	flex-basis: 50%;
}
.featured-left-col img{
	width: 80%;
}
.featured-right-col{
	flex-basis: 50%;
	max-width: 500px;
}

.featured-right-col h1{
	font-size: 40px;
	margin-bottom: 20px;
}

.featured-right-col p{
	margin: 20px 0;
	color: gray;
}
.c-btn{
	background: none;
	padding: 10px;
	border: 1px solid black;
	outline: none;
	color: black;
}

#featured2{
	padding: 100px 50px;

}
.featured2-row,.offer-row{
	display:flex;
	justify-content:center;
	align-items: center;
	flex-wrap: wrap;
}
.featured2-left-col{
	flex-basis: 50%;
	max-width: 500px;
}
.featured2-right-col{
	flex-basis: 50%;
}


.featured2-right-col img{
	width: 100%;
}


.featured2-left-col h1{
	font-size: 40px;
	margin-bottom: 20px;
}

.featured2-left-col  p{
	margin: 20px 0;
	/*font-size: 20px;*/
	color: gray;
}
#selling{
	padding: 50px;
}
#selling h1{
	font-size: 50px;
	text-align: center;
	margin-bottom: 20px;
}

.selling-row{
	display:flex;
	justify-content:space-around;
	align-items: center;
	flex-wrap: wrap;
}

.selling-box{
	flex-basis: 25%;
	text-align: center;
}
.selling-box img{
	width: 100%;
}
.selling-box div{
	background: rgba(0, 0, 0, .05);
}
.selling-box h3{
	margin: 10px 0;
}

#offer{
	padding:100px 50px;
}

.offer-row{
	display:flex;
	justify-content:space-around;
	align-items: center;
	flex-wrap: wrap;
}

.offer-left-col{
	flex-basis: 50%;
	max-width: 500px;
}
.offer-right-col{
	flex-basis: 50%;
}

.offer-left-col h1{
	font-size: 40px;
	margin-bottom: 20px;
} 

.offer-left-col p{
		margin: 20px 0;
	/*font-size: 20px;*/
	color: gray;
}

.offer-right-col img{
	width: 100%;
}


#blog{
	padding:100px 50px;
}

#blog h1{
	font-size: 40px;
	text-align: center;
	margin-bottom:30px ;
}
.blog-row{
	display:flex;
	justify-content:space-around;
	align-items: center;
	flex-wrap: wrap;
}
.blog-box{
	flex-basis: 25%;
	padding: 10px;
	box-shadow: 2px 3px 5px gray;
}

.blog-box img{
	width: 100%;
}
.blog-box p{
	margin: 20px 0;
}
#footer{
	padding: 30px 50px;
}
.subscribe{
	text-align: center;
	margin-bottom: 30px;
}
.subscribe input{
	width: 50%;
	padding: 10px;
	border: none;
	background: rgba(0, 0, 0, .05);
	outline: none;
}

.subscribe button{
	padding: 10px;
	border: none;
	outline: none;
	color: white;
	background: #7f8fa6;
}
.footer-row{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.footer-row p{
	color: gray;
	margin: 10px 0;
}

@media (max-width:770px){
	.menu{
		display: none;
	}
	.left{
		flex-basis: 100%;
		margin: 50px 100px;
	}
	.right{
		display: none;
	}
	#welcome{
		width: 120px;
	}
	.btn input{
		width: 50%;
	}
	.featured-left-col{
		flex-basis: 100%;
	}
	.featured-right-col{
		flex-basis: 100%;
	}

	.featured2-left-col{
		flex-basis: 100%;
	}
	.featured2-right-col{
		flex-basis: 100%;
	}

		.featured2-right-col img{
		width: 100%;
	}

	.selling-box{
		flex-basis: 100%;
		margin: 10px 0;
	}


.offer-left-col{
	flex-basis: 100%;
	max-width: 500px;
}
.offer-right-col{
	flex-basis: 100%;
	margin: 20px 0;
}
.offer-right-col img{
	width: 100%;
}
.blog-box{
	flex-basis: 100%;
	margin: 10px 0;
}
.footer-row div{
	flex-basis: 30%;
}
}